
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Portfolio</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">A Sample presentation for the Portfolio Application.</h2>
                <a class="btn btn-primary" href="#services">Hire Me</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">SPA Built with Angular</h2>
                <p class="text-white-50">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar accumsan odio sit amet volutpat. Nulla in facilisis quam, eget tincidunt elit. Praesent tristique porta condimentum. Integer vulputate massa eu turpis sodales luctus. Etiam interdum dolor felis, id mattis sem porttitor in. Donec eu eros pulvinar, vehicula tellus sed, scelerisque lacus. Sed enim nibh
                </p>
            </div>
        </div>        
    </div>
</section>

<app-services></app-services>

<app-testimony></app-testimony>         


