<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Samples Component is working</h2>
                <p class="text-white-50">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar accumsan odio sit amet volutpat. Nulla in facilisis quam, eget tincidunt elit. Praesent tristique porta condimentum. Integer vulputate massa eu turpis sodales luctus. Etiam interdum dolor felis, id mattis sem porttitor in. Donec eu eros pulvinar, vehicula tellus sed, scelerisque lacus. Sed enim nibh, tempus vitae tincidunt ac, congue in ipsum. Quisque diam neque, cursus euismod tincidunt sed, sagittis quis ligula. Duis dignissim varius volutpat. In hac habitasse platea dictumst. Suspendisse et cursus mauris, at tincidunt enim. Praesent sit amet libero vitae sapien hendrerit ultrices. Proin pellentesque, turpis ac pellentesque elementum, lorem ligula viverra metus, a aliquam arcu eros in nisi. Duis dignissim placerat est finibus scelerisque. Vivamus porttitor risus at semper commodo. Donec convallis venenatis nisi ut dictum.
                </p>
            </div>
        </div>        
    </div>
</section>
